:root {
    /*Fuertes*/
    --negro: #202938;
    --amarillo: #F7DD08;
    --verde: #90D144;
    --blanco: #FFFFFF;
    --azul: #39C8FC;

    /*Claros*/
    --gris: #293140;
    --crema: #fad85e;
    --limon: #73ac31;
    --celeste: #5dcef7;
}

/*Fuente*/
* {
    font-family: sans-serif;
}

/*Predeterminados*/
h1 {
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    border-radius: 5px !important;
    border: none;
}

.badge {
    border-radius: 5px !important;
}

.bi {
    margin-right: 10px;
}

.card {
    border: none;
    background-color: var(--negro);
    color: var(--blanco);
}

.bold {
    font-weight: bolder;
}

/*Seteados*/

/*Colores de botones*/
.btn-warning {
    background-color: var(--crema) !important;

    &:hover {
        background-color: var(--amarillo) !important;
    }

    &:active {
        background-color: var(--crema) !important;
    }
}

.btn-success {
    background-color: var(--verde) !important;

    &:hover {
        background-color: var(--limon) !important;
    }

    &:active {
        background-color: var(--verde) !important;
    }
}

.btn-dark {
    background-color: var(--negro) !important;

    &:hover {
        background-color: var(--gris) !important;
    }

    &:active {
        background-color: var(--negro) !important;
    }
}

.btn-primary {
    background-color: var(--azul) !important;

    &:hover {
        background-color: var(--celeste) !important;
    }

    &:active {
        background-color: var(--azul) !important;
    }
}

/*Color de letra*/
.color-success {
    color: var(--verde) !important;
}

.color-warning {
    color: var(--amarillo) !important;
}

.color-primary {
    color: var(--azul) !important;
}

.color-white {
    color: var(--blanco) !important;
}

.bg-warning-badge {
    background-color: var(--crema);
    border: 2px solid var(--amarillo);
    color: var(--gris);
}

.bg-success-badge {
    background-color: var(--verde);
    border: 2px solid var(--limon);
    color: var(--blanco);
}

/* Header */
.header {
    background-color: var(--negro);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    color: var(--blanco);
    background-color: transparent;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.nav-link {
    color: var(--blanco);
}

.nav-link {
    color: var(--blanco) !important;

    &:hover {
        color: var(--amarillo) !important;
    }

    &:active {
        color: var(--crema) !important;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    color: transparent !important;
    outline: none;
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
}

.logo {
    width: 50px;
}

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
}

/*Servicios*/
.servicios {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
    color: var(--blanco);
}

/* Sobre */
.sobre {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
    color: var(--blanco);
}

/* Tecnologias */
.tecnologias {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gris);
    color: var(--blanco);
}

/*Contacto*/
.contacto {
    background-color: var(--negro);
    color: var(--blanco);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Footer*/
.footer {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-up {
    background-color: var(--azul);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 15px;
    position: fixed;
    bottom: -100px;
    right: 0;
    z-index: 1000;
    margin: 20px;
    cursor: pointer;
    transition: bottom 0.3s ease;
}

.bi-arrow-up {
    margin-right: 0px;
    color: var(--blanco);
}

/* Estilos para la pantalla de carga */
.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s;
    opacity: 1;
}

/* Estilos para el spinner de carga */
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--azul);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Ocultar la pantalla de carga después de que la página haya cargado */
body:not(.loaded) .loader-wrapper {
    opacity: 1;
}

/* Mostrar el contenido de la página después de cargar completamente */
body.loaded .loader-wrapper {
    opacity: 0;
    pointer-events: none;
}

/* Contenido de la página */
#content {
    display: none;
}

body.loaded #content {
    display: block;
}